// Variables
@bleu-fonce:#003366;

/*STYLE HEADER*/
nav{
	background-color: @bleu-fonce;
	padding: 0px;

	li {
	    display: inline-block;
	  }
 }
/*STYLE FOOTER*/
.footer-bas {
	background-color: @bleu-fonce;
}


.container-fluid{
	padding: 0px 0px;
}

